body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

header {
  background-color: white;
  padding: 30px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  z-index: +1;
}
header .heading img{
  height: 20px;
}

header .plans {
  border: 3px solid hsl(256, 26%, 20%);
  padding: 10px 20px;
  font-weight: 700;
}

.plans:hover {
  background-color: hsl(270, 9%, 17%);
  color: #fff;
  transform: scale(1.05);
}

header a {
  color: hsl(273, 4%, 51%);
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

nav a:hover {
  color: hsl(256, 26%, 20%);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 170px;
  background-color: hsl(256, 26%, 20%);
  color: #fff;
  /* height: auto; */
  height: 600px;
}

.hero .text a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.text .plans1 {
  border: 1px solid hsl(273, 4%, 51%);
  color: hsl(273, 4%, 51%);
  padding: 10px 30px;
  font-weight: 700;
  /* position: relative;
  top: 20px; */
}

.plans1:hover {
  background-color: #fff;
  color: hsl(256, 26%, 20%);
}

.text .text-line {
  display: flex;
  flex-direction: column;
  font-family: "DM Serif Display", sans-serif;
  font-size: 80px;
  font-family: 700;
  line-height: 75px;
  margin-bottom: 20px;
}

.text .line {
  display: flex;
  margin-bottom: 60px;
  width: 30%;
  height: 1px;
  background-color: hsl(0, 0%, 98%);
}

.text .text-line2 {
  display: flex;
  flex-direction: column;
  color: hsl(273, 4%, 51%);
  font-size: 18px;
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 30px;
}

.hero .image img {
  /* margin-top: 0px; */
  /* padding: 30px; */
  margin-top: 400px;
  height: 750px;
  /* position: relative;
  top: 180px; */
}

section .border {
  position: absolute;
  right: 0px;
  top: 25px;
  height: auto;
}

section .border img {
  height: 670px;
}

.different {
  padding: 20px 170px;
  padding-top: 300px;
}

.image2 {
  position: absolute;

  /* position: relative; */
  top: 600px;
  left: 5px;
}

.different-text {
  /* position: relative;
  top: 70px; */
}

.different-text .line {
  display: flex;
  /* margin-bottom: 40px; */
  width: 10%;
  height: 1px;
  background-color: hsl(256, 26%, 20%);
}

.different .different-text h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "DM Serif Display", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* position: relative;
  top: 80px; */
}

.card {
  background: white;
  padding: 10px;

  border-radius: 8px;
}
.card h4{
  font-family: "DM Serif Display", sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.card .card-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color:  hsl(273, 4%, 51%);
  padding-bottom: 80px;

}

.different .conatiner1 {
  padding: 20px 50px;
  margin-top: 100px;
  background: hsl(256, 26%, 20%);
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.different .conatiner1 .content {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 40px;
  font-family: "DM Serif Display", sans-serif;
}

.different .conatiner1 .plans2 {
  /* padding: 5px 10px; */
  font-weight: 700;
  color: #fff;
}

.different .conatiner1 a {
  text-decoration: none;
  font-weight: 500;

  color: #fff;
  text-align: center;
  display: inline-block;

  line-height: 20px;
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  /* position: relative; */
  /* right: 140px; */
}

.different .find-out {
  /* height: 250px; */
  background-color: hsl(256, 26%, 20%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  font-family: "DM Serif Display", sans-serif;
  /* background-attachment: fixed; */
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-size:  500px 300px;
  background-repeat: no-repeat;
  background-position:  auto  ;
  background-position: right;
}
.different .find-out .find-text {
  width: 50%;
  /* height: 100%; */
}
.different .find-out .find-btn {
  /* height: 300px; */

  /* background-attachment: fixed; */
  /* width: 50%;  */
  /* text-align: center; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
}
.different .find-out .find-btn .plans2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.different .find-out .find-text h3 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
}
.different .find-out .find-btn a {
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px 20px;
  font-weight: 400;
}

.different .find-out .image4 {
  /* position: absolute;
  right: 120px; */
  /* z-index: +1; */
  /* height: 80px; */
}

.footer {
  padding: 65px 170px;
  margin-top: 80px;
  background: hsl(0, 0%, 98%);
  /* position: relative;
  top: 200px; */
  /* height: auto; */
}

.footer .footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-upper .social-media svg {
  padding: 4px;
}

.footer svg path:hover {
  fill: black;
}

.footer-lower {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  /* position: relative;
  right: 140px;
  bottom: 10px; */
}

.footer-lower .point h6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color:  hsl(273, 4%, 51%);
}

.footer .footer-lower .point .sub-point {
  display: flex;
  justify-content: flex-start;
  gap: 13px;
  flex-direction: column;
}

.footer-lower .point .sub-point a {
  color: hsl(270, 9%, 17%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.footer .footer-image {
  position: absolute;
  top: 2235px;
  left: 0px;
}

.sub-point a:hover {
  text-decoration: underline !important;
  color: black;
}
.hamburger {
  display: none;
}
section .mobile-left{
  display: none;
}
section .mobile-right{
  display: none;
}

/* @media (max-width: 991px) {
  header{
    padding: 20px;
  }
  header nav{
    padding: 20px;
    position: relative;
    bottom: 20px;
  }
  .hero {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }
  .different{
    padding: 20px;
    position: relative;
    left: 50px;
  }
  .footer{
    padding: 25px 50px;
  }

  .hero .image img {
    height: 300px;
  }

  .text h1 {
    font-size: 45px;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }
  .different .image4 img{
    position: relative;
    top: 750px;
  }
} */
/* @media (min-width:375px) and (max-width:767px){
    header .heading img{
        height: 30px;
    }
    header nav a{
        display: none;
    }
    header nav .hamburger{
        visibility: inherit;
        position: relative;
        left: 420px;
    }
    .hero .image{
        position: absolute;
        width: 100%;
    }
 } */

@media (min-width: 768px) and (max-width: 1024px) {
  header,
  .hero,
  .different,
  .footer {
    padding: 15px 100px;
  }
  header nav a {
    display: none;
  }
  header .hamburger {
    display: flex;
  }
  .hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .hero .text .text-line span {
    font-size: 36px;
    line-height: 40px;
  }
  .hero .text .text-line2 span {
    font-size: 15px;
  }
  .hero .image img {
    height: 300px;
    position: relative;
    bottom: 180px;
  }
  .hero .border .img {
    position: relative;
    bottom: 100px;
  }
  .different {
    margin-top: 120px;
  }
  .different .different-text h1 {
    font-size: 70px;
  }
  .different .find-out {
    padding: 10px 40px;
    background-size: auto 370px;
    background-position: right;
    height: auto;
  }
  .different .find-out .find-text h3 {
    font-size: 50px;
  }

  /* .different .find-out .conatiner1 .content span {
    font-size: 46px;
  }
  .different .find-out .conatiner1 a {
    position: relative;
    left: 8px;
  }
  .different .find-out .conatiner1 .image4 img {
    position: relative;
    right: 22px;
  } */
}
@media screen and (max-width: 767px) {
  header,
  .different,
  .footer {
    padding: 15px 25px;
  }
  header nav a {
    display: none;
  }
  header .hamburger {
    display: flex;
  }
  section .mobile-left{
    display: flex;
    position: absolute;
    top: 515px;
    height: auto;
  }
  section .mobile-right{
    display: none;
    /* position: relative;
    left: 250px;
    bottom: 100px; */
    /* left: 0px; */
  }
  .hero {
    flex-direction: column-reverse;
    /* margin-top: 350px; */
    height: auto;
    padding: 0px;
  }
  .hero .text {
    /* padding: 20px; */
    position: relative;
  }
  .hero .image img {
    margin-top: 0px;
    height: auto;
    /* height: 100%; */
    width: 100%;
    padding: 1px;
    /* padding: 0px; */
    /* margin-top:400px;
    padding-top: 200px; */
  }
  .hero .text .line {
  }
  .hero .text {
    margin-bottom: 70px;
    text-align: center;
    margin-top: 50px;
  }
  .hero .text .line {
    display: none;
  }
  .hero .text .text-line span {
    font-size: 40px;
    line-height: 40px;
  }
  .hero .text .text-line2 span {
    font-size: 10px;
    line-height: 20px;
  }
  section .border {
    display: none;
  }
  section .image2 {
    display: none;
  }
  .different{
    margin-top: 50px;
  }
  .different .different-text .line {
    margin-left: 100px;
    width: 40%;
    /* text-align: center; */
  }
  .different .different-text h1 {
    font-size: 43px;
    font-weight: 500;
    text-align: center;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .card .card-text{
    font-size: 14px;
  }
  .different .find-out {
    flex-direction: column;
    /* height: 350px; */
    padding: 20px 50px;

    /* background-image: none; */
    /* background-size: auto; */
    /* background-size: auto 190px; */
    background-position: right ;
    background-size: 400px 350px;
    
  }
  .different .find-out .find-text {
    /* margin: 35px; */
    flex-wrap: wrap;
  
  }
  .different .find-out .find-btn {
    /* height: auto; */
    padding-left: 30px;
    /* width: 50%; */
    
    /* padding: 20px 40px; */
    /* display: flex;
    justify-content: center; */
    /* padding-bottom: 10px; */
    /* width: 80%; */
  }
  .different .find-out .find-btn a{
    font-size: 14px;
    padding: 5px 10px;
  }
  .different .find-out .find-text h3 {
    font-size: 26px;
    line-height: 33px;
    text-align: center;
  }
  .different .container .card {
    width: 100%;
  }
  /* .footer {
    position: relative;
  } */
  footer .footer-upper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer-lower {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }
  .footer .footer-image img {
    position: relative;
    bottom: 430px;
    /* right: 0px; */
  }

  .footer-lower .point {
    /* margin-bottom: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .footer .footer-image{
    display: none;
  }
}
